.main-header{
    background-color: #f8f9fa;
}

.header-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.main-nav{
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;    
}

.logo{
    height: 50px;
    width: auto;
}

.language-selector{
    display: flex;
    align-items: center;
    gap: 10px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.language-icon{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
}

/* Hero */
.hero{
    width: 100%;
    height: 500px;
    background: #dcff69;
    position: relative;
    display: grid;
    place-items: center;
}

.hero-content{
    position: relative;
    z-index: 1;
    color: #fff;
}

.hero-image{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}