/* .main-header{
    position: absolute;
    z-index: 1000;
    width: 100%;
    transition: all 0.3s ease-in-out;
} */

.main-header{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    background-color: var(--secondary-color);
    box-shadow: 0 1px 2px rgba(0,0,0,0.1);
    border-top: 8px solid var(--lapis-lazuli);
}

.header-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.main-nav{
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
}

.menu{
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
}

.logo{
    height: 50px;
    width: auto;
}

.dropdown-toggle{
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

.nav-elements{
    color: #2b2b2b;
}

.nav-elements:hover{
    color: var(--primary-color);
}

.dropdown-menu{
    position: absolute;
    background-color: white;
    width: 100%;
    z-index: 1000;
    left: 0;
    margin-top: 20px;
    overflow: hidden;
    display: grid;
    grid-template-rows: 0;
    transition: all 0.3s ease-in-out;
}

.dropdown-content{
    width: 1200px;
    margin: auto;
}

.dropdown-menu.show{
    grid-template-rows: 1fr;
}

.language-selector{
    display: flex;
    align-items: center;
    gap: 10px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.language-icon{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
}

.languages{
    display: flex;
    flex-direction: column;
    padding: 10px 0;
    align-items: flex-end;
    width: 780px;
}

.language-option{
    color: #2b2b2b;
    padding: 10px 20px;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.language-option .language-icon{
    margin-right: 10px;
}

.language-option:hover{
    background-color: var(--primary-color);
    color: white;
    border-radius: 10px;
}

.main-header.--fixed .nav-elements {
    color: var(--primary-color);
}

/* Hero */
.hero{
    width: 100%;
    height: 750px;
    position: relative;
}

.hero-title{
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 10px;
    color: var(--primary-color);
}

.hero-content{
    position: relative;
    z-index: 1;
    color: #fff;
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100%;
    max-width: 1200px;
        margin: 0 auto;
}

.hero-text{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 20px;
    margin-bottom: 100px;
}

.hero-image{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}

#map {
    width: 100%;
    z-index: 0;
    height: 800px;
}

.leaflet-popup-content ul{
    padding-inline-start: 20px;
}

/* Main Content */

.content{
    max-width: 1200px;
    margin: 0 auto;
}

.product-image{
    width: 150px;
}

.img-magnifier-container {
    position: relative;
}

.img-magnifier-glass {
    position: absolute;
    border-radius: 50%;
    cursor: none;
    /*Set the size of the magnifier glass:*/
    width: 100px;
    height: 100px;
}

.product-page .product-image{
    width: 100%;
    height: 600px;
    object-fit: contain;
    object-position: center;
    margin-inline: auto;
    padding: 15px;
    margin-bottom: 30px;
}

.product-page .cta{
    margin-inline: auto;
}

.product-image-full{
    width: 100%;
    height: 900px;
    object-fit: cover;
    object-position: center;
}

.map-container{
    position: relative;
}

.map-container section{
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 16px;
    background-color: rgba(255, 255, 255, 0.8);
}

.full-width-image{
    width: 100%;
    height: 900px;
    object-fit: cover;
    object-position: top;
}

.full-width-container{
    position: relative;
    width: 100%;
    overflow: hidden;
    isolation: isolate;
    color: #fff;
}

.full-width-container .full-width-article{
    position: absolute;
    right: 50px;
    top: 50px;
}

.full-width-article{
    text-align: center;
}

.full-width-article h2{
    font-size: 64px;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 400;
}

.product-item{
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    padding: 16px;
    border-radius: 8px;
    display: grid;
    place-items: center;
}

.product-item img{
    width: 100%;
    height: 250px;
    object-fit: contain;
    object-position: center;
    margin-inline: auto;
}

.product-item .cta{
    margin-inline: auto;
    width: 100%;
    display: block;
    text-align: center;
    margin-top: 30px;
}

.product-title{
    font-size: 18px;
    font-weight: bold;
    margin: 12px 0;
    text-align: center;
}

.compatible-items{
    width: 193px;
    height: 180px;
    object-fit: contain;
    background-color: #fff;
    margin-block: 1.5em;
    border-radius: 10px;
    padding: 25px;
}

.tech-links{
    display: block;
    color: var(--lapis-lazuli);
    padding: 8px 12px;
    border-bottom: 1px solid #eee;
    border-radius: 5px;
}

.tech-links:hover{
    background-color: var(--lapis-lazuli);
    color: white;
}

/* Footer */
.footer{
    background-color: var(--pistachio);
    color: white;
}

.footer-content{
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto;
}

.footer-nav{
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 10px;
}

.footer-logo{
    filter: brightness(0) invert(1);
}

.footer-content a{
    color: #fff;
    text-decoration: none;
}

.footer-content a:hover{
    text-decoration: underline;
}

.copy{
    text-align: center;
    padding: 20px 0;
    background-color: var(--lapis-lazuli);
}